#include <st/l4/stm32l452r(c-e)tx-pinctrl.dtsi>

/ {

};

&arduino_spi {
	status = "okay";
	pinctrl-0 = <&spi1_nss_pa4 &spi1_sck_pa5
	&spi1_miso_pa6 &spi1_mosi_pa7>;

	cs-gpios = <&gpiob 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;


	fake_mc: fake_mc@0 {
		compatible = "spi-device";
		reg = <0>;
		status = "okay";
	};
};
