/ {
    chosen {
        zephyr,console = &uart0;
        zephyr,shell-uart = &uart0;
    };


    imu: imu {
        compatible = "openrocket,imu";
        vertical-axis = "Z";
        vertical-axis-invert;
        lateral-axis = "X";
        lag-time-us = <1000>;
        sampling-period-us = <10>;

        roll-axis = "Z";
        pitch-axis = "Y";
        yaw-axis = "X";
    };

};

&uart0 {
    status = "okay";
};
