# SPDX-License-Identifier: Apache-2.0

CONFIG_SOC_SERIES_STM32F4X=y
CONFIG_SOC_STM32F446XX=y

# Enable MPU
CONFIG_ARM_MPU=y

# Enable HW stack protection
CONFIG_HW_STACK_PROTECTION=y

CONFIG_SERIAL=y

# console
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y
CONFIG_CBPRINTF_FP_SUPPORT=y

# enable GPIO
CONFIG_GPIO=y

# Enable Clocks
CONFIG_CLOCK_CONTROL=y

# Threads (ubxlib fails without this)
CONFIG_DEBUG_THREAD_INFO=y
CONFIG_INIT_STACKS=y
CONFIG_THREAD_STACK_INFO=y
CONFIG_THREAD_NAME=y
CONFIG_KERNEL_MEM_POOL=y

# Heap (ubxlib fails without this)
CONFIG_HEAP_MEM_POOL_SIZE=1

# enable pin controller
CONFIG_PINCTRL=y
CONFIG_LED=y

# I2C
CONFIG_I2C=y
#CONFIG_I2C_CALLBACK=y

# SPI
CONFIG_SPI=y
# CONFIG_SPI_RTIO=y


# GNSS (MAX-M10S)
CONFIG_UBXLIB=y
CONFIG_GNSS=y
CONFIG_GNSS_SATELLITES=y
CONFIG_GNSS_NMEA0183=y

# LORA
CONFIG_LORA=y
CONFIG_LORA_SX127X=y
CONFIG_LORA_LOG_LEVEL_DBG=y

# Networking
CONFIG_NET_L2_ETHERNET=y
CONFIG_NETWORKING=y
CONFIG_NET_L2_ETHERNET_MGMT=y
CONFIG_NET_IPV4=y
CONFIG_NET_STATISTICS=y
CONFIG_SHELL=y
CONFIG_PTP_CLOCK=y


# Non-Volatile Memory
CONFIG_FLASH=y

# RNG
CONFIG_ENTROPY_GENERATOR=y
CONFIG_TEST_RANDOM_GENERATOR=y
