CBasedOnStyle: Google
AlignAfterOpenBracket: Align
AlignTrailingComments: 'true'
AllowShortLoopsOnASingleLine: 'true'
TabWidth: '4'
CompileFlags:
  Add: -Wno-unknown-warning-option
  Remove: [-m*, -f*]
