# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

build/

# Zephyr files
.west

*cmake-*
# IDE Files
.vscode/
.idea/
.cache/
zephyr-windows.code-workspace
flash.bin
app_grim_reefer/extra/data/all.cap
app_grim_reefer/extra/out/adc.csv
app_grim_reefer/extra/out/fast.csv
app_grim_reefer/extra/out/pre_alt.csv
app_grim_reefer/extra/out/pre_imu.csv
app_grim_reefer/extra/out/slow.csv
app_grim_reefer/extra/data/lall2.cap
app_grim_reefer/extra/out2/adc.csv
app_grim_reefer/extra/out2/fast.csv
app_grim_reefer/extra/out2/pre_alt.csv
app_grim_reefer/extra/out2/pre_imu.csv
app_grim_reefer/extra/out2/slow.csv
