/dts-v1/;
#include <st/f4/stm32f446Xe.dtsi>
#include <st/f4/stm32f446r(c-e)tx-pinctrl.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
	model = "Liquids Module";
	compatible = "st,stm32f446xx";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;

		zephyr,console = &cdc_acm_uart0;
		zephyr,shell_uart = &cdc_acm_uart0;

		storage = &w25q512;

		rtc = &rtc;
	};

	aliases {
		led0 = &red_led_1;
		led1 = &red_led_2;
	};

	leds: leds {
		compatible = "gpio-leds";

		red_led_1: led_1 {
			gpios = <&gpiob 0 GPIO_ACTIVE_HIGH>;
			label = "USER LED1";
		};

		red_led_2: led_2 {
			gpios = <&gpiob 1 GPIO_ACTIVE_HIGH>;
			label = "User LED2";
		};

		wiz_led: wiz_led {
			gpios = <&gpioc 5 GPIO_ACTIVE_HIGH>;
			label = "Wiznet LED";
		};
	};

	soc {
		quadspi: spi@a0001000 {
			compatible = "st,stm32-qspi";
			pinctrl-names = "default";
			pinctrl-0 = <&quadspi_clk_pb2 &quadspi_bk1_ncs_pb6
			&quadspi_bk1_io0_pc9 &quadspi_bk1_io1_pc10>;
			reg = <0xa0001000 0x400>, <0x90000000 DT_SIZE_M(128)>;
			interrupts = <92 0>;
			clocks = <&rcc STM32_CLOCK(AHB3, 1U)>;
			flash-id = <1>;
			status = "okay";
			#address-cells = <0x1>;
			#size-cells = <0x0>;

			w25q512: qspi-nor-flash@90000000 {
				compatible = "st,stm32-qspi-nor";
				reg = <0x90000000 0x10000000>; /* 128 Mbits */
				size = <DT_SIZE_M(128)>; /* 128 Mbits */
				qspi-max-frequency = <DT_FREQ_M(50)>;
				status = "okay";
				spi-bus-width = <4>;
				jedec-id = [ ef 40 18  ];
				page-size = <256>;
				writeoc = "PP_1_1_4";
				requires-ulbpr;

				partitions {
					compatible = "fixed-partitions";
					#address-cells = <1>;
					#size-cells = <1>;
				};
			};
		};
	};
};

&clk_lsi {
	status = "okay";
};

&clk_hse {
	clock-frequency = <DT_FREQ_M(16)>;
	status = "okay";
};

&pll {
	div-m = <8>;
	mul-n = <72>;
	div-p = <2>;
	div-q = <3>;
	div-r = <2>;
	clocks = <&clk_hse>;
	status = "okay";
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(16)>;
	ahb-prescaler = <1>;
	apb1-prescaler = <2>;
	apb2-prescaler = <1>;
};

zephyr_udc0: &usbotg_fs {
	pinctrl-0 = <&usb_otg_fs_dm_pa11 &usb_otg_fs_dp_pa12>;
	pinctrl-names = "default";
	maximum-speed = "full-speed";
	status = "okay";

	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
		label = "USB CDC-ACM";
	};
};

&uart4 {
	pinctrl-0 = <&uart4_tx_pa0 &uart4_rx_pa1>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};
