# Copyright (c) 2025 RIT Launch Initiative
# SPDX-License-Identifier: Apache-2.0

menu "Zephyr"
source "Kconfig.zephyr"
endmenu

module = APP_RECEIVER_MODULE
module-str = APP_RECEIVER_MODULE
source "subsys/logging/Kconfig.template.log_config"
