# Copyright (c) 2024 Launch Initiative
# SPDX-License-Identifier: Apache-2.0

menu "Zephyr"
source "Kconfig.zephyr"
endmenu

config MODULE_ID
    int "Module ID number"
    default 1
    help
      The module ID to use as the fourth octet in the IP address.

module = APP_POWER_MODULE
module-str = APP_POWER_MODULE
source "subsys/logging/Kconfig.template.log_config"
