
/ {
    zephyr,user {
        io-channels = <&adc 0>;
    };
    chosen {
        zephyr,console = &usart2;
        zephyr,shell-uart = &usart2;
    };

    aliases {
        led = &shield_led;
    };
    control_gpios{
        compatible = "gpio-keys";
        irq: irq{
            gpios = <&arduino_header 8 (0)>;
            label = "Enable pin for LDO";
        };
    };

};

&mikrobus_spi {
    adc: mcp3561@0 {
        #io-channel-cells = <1>;
        #address-cells = <1>;
        #size-cells = <0>;

        status = "okay";
        compatible = "microchip,mcp356x";
        reg = <0>;
        device-address = <1>;
        clock-selection = "CLK_INTERNAL";
        prescale = "PRE_1";
        spi-max-frequency = <DT_FREQ_M(8)>; // pg. 12, Table 1.1 MAX 20MHz


        channel@0 {
            reg = <0>;
            zephyr,gain = "ADC_GAIN_1";
            zephyr,reference = "ADC_REF_INTERNAL";
            zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;

            zephyr,resolution = <24>;

            zephyr,input-positive = <1>;
            zephyr,input-negative = <0>;

        };
    };

};
