# Copyright (c) 2021 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config MCP3561
	bool "MCP3561 ADC"
	default y
	depends on DT_HAS_MICROCHIP_MCP3561_ENABLED
	select GPIO
	help
	  Enable MCP3561 ADC
