/ {
	chosen {
        zephyr,console = &usart2;
        zephyr,shell-uart = &usart2;
	};
	aliases {
		led = &shield_led; 
	};
	
};

&mikrobus_spi {
	radio: rfm98w@1 {
		#io-channel-cells= <1>;
		status = "okay";
		compatible = "hoperf,rfm9xw";
		reg = <1>;
		spi-max-frequency = <DT_FREQ_M(8)>; // pg. 20, Table 10 MAX 10MHz
		
		carrier-frequency = <DT_FREQ_M(434)>;
		deviation-frequency = <DT_FREQ_K(100)>;
		bitrate = <1200>;
		modulation-type = "RfmModulationType_OOK";

		reset-gpios = <&gpioc 0 GPIO_ACTIVE_HIGH>;
		power-amplifier = "RfmPowerAmplifierSelection_PaBoost";

	};
};
