/delete-node/ &adc;

/ {
    zephyr,user {
        io-channels = <&adc 0>, <&adc 0>;
    };

    aliases {
        adc0 = &adc;
        // buzzer = &led1;
    };
};

&spi2 {
    status = "okay";
    adc: mcp3561@0 { // new and cool driver
        compatible = "microchip,mcp356xr";
        status = "okay";
        reg = <0>;
        #io-channel-cells = <1>;
        #address-cells = <1>;
        #size-cells = <0>;
        address = <1>;
        analog-clock-prescaler = <0>;
        boost-current-bias = <0>;
        spi-max-frequency = <DT_FREQ_M(10)>;
        irq-gpios = <&gpiob 14 GPIO_ACTIVE_LOW>;
        use-internal-clock;

        channel@0 {
            reg = <0>;
            zephyr,gain = "ADC_GAIN_8";
            zephyr,reference = "ADC_REF_INTERNAL";
            zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;

            zephyr,resolution = <24>;

            zephyr,differential;

            zephyr,input-positive = <0x1>;
            zephyr,input-negative = <0x0>;

            zephyr,oversampling = <8>;
        };
    };
};