	/ {
	chosen {
		storage = &flash0;
		logfs = &lfs1;
	};

	aliases {
		storage = &flash0;
	};


	fstab {
		compatible = "zephyr,fstab";
		lfs1: lfs1 {
			compatible = "zephyr,fstab,littlefs";
			mount-point = "/lfs";
			partition = <&flash0>;
			automount;

			// the binding reccomends defaults for these
			read-size = <16>;
			prog-size = <16>;
			cache-size = <64>; // may need to grow for optimization
			lookahead-size = <32>;
			block-cycles = <(90 * 1000)>;
			// the datasheet gives 100K P-E cycles
			// NOTE: this seems to default to 512 for the mounted filesystem
			// anyway
		};
	};

};

&flashcontroller0 {
    status = "okay";
    compatible = "zephyr,sim-flash";
    reg = <0x00000000 0x00100000>;

    #address-cells = <1>;
    #size-cells = <1>;
    erase-value = <0xff>;

    flash0: flash@0 {
        status = "okay";
        compatible = "soc-nv-flash";
        erase-block-size = <4096>;
        write-block-size = <1>;
        reg = <0x00000000 0x00100000>;
    };
};
