# Copyright (c) 2024 RIT Launch Initiative
# SPDX-License-Identifier: Apache-2.0

# System
CONFIG_CLOCK_CONTROL=y
CONFIG_ARM_MPU=y
CONFIG_HW_STACK_PROTECTION=y
CONFIG_ENTROPY_STM32_RNG=y
CONFIG_ENTROPY_DEVICE_RANDOM_GENERATOR=y

# IO
CONFIG_GPIO=y
CONFIG_I2C=y
#CONFIG_I2C_CALLBACK=y
#CONFIG_I2C_RTIO=y
CONFIG_PINCTRL=y
CONFIG_RTC=y
CONFIG_SERIAL=y
CONFIG_SPI=y
CONFIG_SPI_ASYNC=y
CONFIG_SPI_STM32_DMA=y
CONFIG_SPI_NOR_SLEEP_WHILE_WAITING_UNTIL_READY=y
# sector erase time typical is 45ms
#CONFIG_SPI_NOR_SLEEP_ERASE_MS=20
#CONFIG_SPI_NOR_SFDP_RUNTIME=y
# CONFIG_SPI_RTIO=y
CONFIG_LED=y
CONFIG_WATCHDOG=y

# Sensors
CONFIG_SENSOR=y
CONFIG_SENSOR_ASYNC_API=y
CONFIG_SENSOR_INFO=y
CONFIG_TMP116=y
CONFIG_BMP388=y
CONFIG_LSM6DSL=y
CONFIG_ADXL375=y
CONFIG_MS5611=y