/ {
    chosen {
        zephyr,console = &uart4;
		zephyr,shell-uart = &uart4;
    };
};

/ {
    soc {
        uart4: serial@4000c000 {
            pinctrl-0 = <&uart5_tx_pa0 &uart5_rx_pa1>;
            pinctrl-names = "default";
            current-speed = <115200>;
            status = "okay";
        };
    };
};