# Copyright (c) 2024 RIT Launch Initiative
# SPDX-License-Identifier: Apache-2.0

rsource "horus/Kconfig"

config F_CORE
    bool "F-Core"
    help
      This option enables core functionality for all flight software

