# Copyright (c) 2024 RIT Launch Initiative
# SPDX-License-Identifier: Apache-2.0

config F_CORE
    bool "F-Core"
    help
      This option enables core functionality for all flight software

    # All of f core uses C++
    select CPP
    select REQUIRES_FULL_LIBCPP

    select CBPRINTF_FP_SUPPORT
    
    rsource "os/Kconfig"
    rsource "net/Kconfig"
    rsource "device/sensor/Kconfig"
    #rsource "device/adc/Kconfig" for future expansion
