/*
 * Copyright (c) 2018 Philémon Jaermann
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <st/f4/stm32f446Xe.dtsi>
#include <st/f4/stm32f446r(c-e)tx-pinctrl.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include "radio_module-pinctrl.dtsi"

/ {
    model = "Radio Module";
    compatible = "st,stm32f446xx";

    chosen {
        zephyr,console = &uart4;
        zephyr,shell-uart = &uart4;

        zephyr,sram = &sram0;
        zephyr,flash = &flash0;

        storage = &w25q128;
        logfs = &lfs1;
        rtc = &rtc;
    };

    fstab {
        compatible = "zephyr,fstab";

        lfs1: lfs1 {
            compatible = "zephyr,fstab,littlefs";
            mount-point = "/lfs";
            partition = <&external_storage_partition>;
            automount;

            read-size = <256>;
            prog-size = <256>;
            cache-size = <512>;
            lookahead-size = <128>;
            block-cycles = <(90 * 1000)>;
        };
    };

    leds: leds {
        compatible = "gpio-leds";

        red_led_1: led_1 {
            gpios = <&gpioc 6 GPIO_ACTIVE_HIGH>;
            label = "USER LED1";
        };

        red_led_2: led_2 {
            gpios = <&gpiob 12 GPIO_ACTIVE_HIGH>;
            label = "User LED2";
        };
    };

    connector: gpios {
        compatible = "gpio-leds";

        gpio_0: gpios_0 {
            gpios = <&gpioc 1 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
            label = "CONNECTOR GPIO 0";
        };

        gpio_1: gpios_1 {
            gpios = <&gpioc 2 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
            label = "CONNECTOR GPIO 1";
        };

        gpio_2: gpios_2 {
            gpios = <&gpioc 3 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
            label = "CONNECTOR GPIO 2";
        };

        gpio_3: gpios_3 {
            gpios = <&gpioa 1 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
            label = "CONNECTOR GPIO 3";
        };
    };

    aliases {
        led0 = &red_led_1;
        led1 = &red_led_2;

        gpio0 = &gpio_0;
        gpio1 = &gpio_1;
        gpio2 = &gpio_2;
        gpio3 = &gpio_3;

        dbguart = &uart4;
        ubxlib-usart2 = &usart2;

        lora = &lora0;
        gnss = &maxm10s;

		rtc = &rtc;
    };
};

&clk_lsi {
    status = "okay";
};

&clk_hsi {
    clock-frequency = <DT_FREQ_M(16)>;
    status = "okay";
};

//&pll {
//	div-m = <8>;
//	mul-n = <384>;
//	div-p = <2>;
//	div-q = <2>;
//	clocks = <&clk_hsi>;
//	status = "okay";
//};

&rcc {
    clocks = <&clk_hsi>;
    clock-frequency = <DT_FREQ_M(16)>;
    ahb-prescaler = <1>;
    apb1-prescaler = <2>;
    apb2-prescaler = <1>;
};

&usart2 {
    pinctrl-0 = <&usart2_tx_pa2 &usart2_rx_pa3>;
    pinctrl-names = "default";
    current-speed = <9600>;
    status = "okay";

    maxm10s: ublox-maxm10s {
        status = "okay";
        compatible = "gnss-nmea-generic";
    };
};

&uart4 {
    pinctrl-0 = <&uart4_tx_pc10 &uart4_rx_pc11>;
    pinctrl-names = "default";
    current-speed = <115200>;
    status = "okay";
};

&i2c1 {
    pinctrl-0 = <&i2c1_scl_pb8 &i2c1_sda_pb9>;
    pinctrl-names = "default";
    status = "okay";
    clock-frequency = <I2C_BITRATE_FAST>;
};

&dma1 {
	status = "okay";
};

&dma2 {
	status = "okay";
};

&spi1 {
    pinctrl-0 = <&spi1_nss_pa4 &spi1_sck_pa5
                 &spi1_miso_pa6 &spi1_mosi_pa7>;
    pinctrl-names = "default";
    status = "okay";


    w5500: w5500@0 {
        compatible = "wiznet,w5500";
        reg = <0x0>;
        spi-max-frequency = <DT_FREQ_M(80)>;
        int-gpios = <&gpiob 1 GPIO_ACTIVE_LOW>;
        reset-gpios = <&gpiob 0 GPIO_ACTIVE_LOW>;
        local-mac-address = [00 01 02 03 04 05];
    };
};


&spi2 {
    pinctrl-0 = <&spi2_sck_pb13 &spi2_miso_pb14 &spi2_mosi_pb15>;
    cs-gpios = <&gpioa 8 GPIO_ACTIVE_LOW
                &gpioc 8 GPIO_ACTIVE_LOW
               >;
    pinctrl-names = "default";
    status = "okay";

    // dma identifier
	// dma stream
	// dma channel
	// config flags
	dmas = <&dma1 4 0 (STM32_DMA_PERIPH_TX | STM32_DMA_PRIORITY_HIGH | STM32_DMA_OFFSET_FIXED_4 | STM32_DMA_PERIPH_8BITS | STM32_DMA_MEM_8BITS) 0x1>,
		   <&dma1 3 0 (STM32_DMA_PERIPH_RX | STM32_DMA_PRIORITY_HIGH | STM32_DMA_OFFSET_FIXED_4 | STM32_DMA_PERIPH_8BITS | STM32_DMA_MEM_8BITS) 0x1>;
	dma-names = "tx", "rx";

    lora0: lora0@0 {
        compatible = "semtech,sx1276";
        reg = <0>;
        reset-gpios = <&gpioa 9 GPIO_ACTIVE_LOW>;
        dio-gpios = <&gpioc 12 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>,
                    <&gpiod 2 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>,
                    <&gpiob 5 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>,
                    <&gpioa 12 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>,
                    <&gpioa 11 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>,
                    <&gpioa 10 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
        power-amplifier-output = "pa-boost";
        spi-max-frequency = <DT_FREQ_M(10)>;
        status = "okay";
    };

    w25q128: w25q128jv@1 {
        compatible = "jedec,spi-nor";
        reg = <1>;

        spi-max-frequency = <DT_FREQ_M(104)>;
        size = <DT_SIZE_M(128)>;
        jedec-id = [ef 40 18];

        has-dpd;
        t-enter-dpd = <(3 * 1000)>;
        t-exit-dpd = <(3 * 1000)>;

        partitions {
            compatible = "fixed-partitions";
            #address-cells = <1>;
            #size-cells = <1>;

            external_storage_partition: partition@0 {
                label = "w25q-storage";
                reg = <0 DT_SIZE_M(16)>;
            };
        };
    };
};

&rtc {
    clocks = <&rcc STM32_CLOCK_BUS_APB1 0x10000000>,
             <&rcc STM32_SRC_LSI RTC_SEL(2)>;
    status = "okay";
};

&backup_sram {
    status = "okay";
};

&die_temp {
    status = "okay";
};

&flash0 {
    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        boot_partition: partition@0 {
            label = "mcuboot";
            reg = <0x00000000 DT_SIZE_K(64)>;
            read-only;
        };

        /*
         * The flash starting at 0x00010000 and ending at
         * 0x0001ffff (sectors 16-31) is reserved for use
         * by the application.
         */
        storage_partition: partition@10000 {
            label = "storage";
            reg = <0x00010000 DT_SIZE_K(64)>;
        };

        slot0_partition: partition@20000 {
            label = "image-0";
            reg = <0x00020000 DT_SIZE_K(128)>;
        };

        slot1_partition: partition@40000 {
            label = "image-1";
            reg = <0x00040000 DT_SIZE_K(128)>;
        };

        scratch_partition: partition@60000 {
            label = "image-scratch";
            reg = <0x00060000 DT_SIZE_K(128)>;
        };
    };
};
