# Copyright (c) 2024 Aaron Chan
# SPDX-License-Identifier: Apache-2.0

config LAUNCH_CORE
    bool "Launch Core"
    help
      This option enables core functionality for all flight software

config LAUNCH_CORE_DEVICE
    bool "Launch Core functionality for Device"
    depends on DEVICE
    help
      This option enables core functionality for device drivers

config LAUNCH_CORE_NET
    bool "Launch Core functionality for Networking"
    depends on NET_L2_ETHERNET
    help
      This option enables core functionality for Networking.

config LAUNCH_CORE_LORA
	bool "Launch Core functionality for LoRa"
	depends on LORA && LORA_SX127X
	help
	  This option enables core functionality for LoRa.

config LAUNCH_CORE_FS
    bool "Launch Core functionality for File System"
    depends on FS_LITTLEFS
    help
      This option enables core functionality for the File System.


