/{ 
    aliases {
        imu = &lsm6dsv;
        barom = &ms5611;
        servo = &servo1;
        servo-en = &servo5ven;
    };

    servo1: servo1 {
        status = "okay";
        compatible = "pwm-servo";
        pwms = <&pwm2 4 PWM_USEC(3000) PWM_POLARITY_NORMAL>;
        min-pulse = <PWM_USEC(500)>;
        max-pulse = <PWM_USEC(2500)>;
    };

};


&w25q128{
    partitions {
        bootcount_storage@0{
            reg = <0 DT_SIZE_K(8)>; // two pages
            label = "bootcount_storage";
        };
        parameter_storage@2000{
            reg = <0x2000 DT_SIZE_K(4)>; // 1 page
            label = "parameter_storage";
        };
        // hole/buffer so that we can use 64KB erases for this guy
        flight_storage@10000{
            // DT_SIZE_K(16320)> left after this. 
            // We don't need all of it (yet) and it would take forever to erase
            reg = <0x10000 DT_SIZE_M(2)>; 
            label = "flight_storage";
        };
    };
};
