/ {
	chosen {
		storage = &flash0;
	};

	aliases {
		led0 = &led1; // a little broken: (
		buzz = &buzzer;
		ldo5v = &ldo5v_enable;
		imu = &imu;
		barom = &barom;
		ina-servo = &inaservo;
	};

	leds {
		compatible = "gpio-leds";
		led1: led1 {
			gpios = <&gpio0 0 GPIO_ACTIVE_HIGH>;
			label = "GPS LED";
		};
		servo_enable: servo-enable{
			gpios = <&gpio0 1 GPIO_ACTIVE_HIGH>;
			label = "Enable pin for the servo";
		};
		buzzer: buzzer{
			gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
			label = "buzzer pin";
		};
		ldo5v_enable: ldo5v-enable{
			gpios = <&gpio0 3 GPIO_ACTIVE_HIGH>;
			label = "Enable pin for 5v ldo";
		};
		pump_enable: pump-enable{
			gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;
			label = "Enable pin for pumps";
		};
	};

	imu: imu {
		status = "okay";
		compatible = "openrocket,imu";
		vertical-axis = "OPENROCKET_AXIS_X";
		vertical-axis-invert;
		lateral-axis = "OPENROCKET_AXIS_Z";
		lag-time-us = <2000>; // 2 ms delay 
		sampling-period-us = <600>;// 1666 hz

		roll-axis = "OPENROCKET_AXIS_Z";
		pitch-axis = "OPENROCKET_AXIS_Y";
		yaw-axis = "OPENROCKET_AXIS_X";

		accel-noise = <0>;
		gyro-noise = <0>;
	};

	barom: barom {
		status = "okay";
		compatible = "openrocket,barometer";
		lag-time-us = <1000>;
		sampling-period-us = <10>;
		temp-noise = <420>; // millicelsius - everett
		pressure-noise = <0>; // pascals
	};

	inaservo: inaservo{
        status = "okay";
        compatible = "sim,simshunt";
        simulated-voltage = <5000>;   // milliVolts
        simulated-current = <100>;    // milliAmps
    };

};

&flashcontroller0 {
	status = "okay";
	compatible = "zephyr,sim-flash";
	reg = <0x00000000 DT_SIZE_M(129)>;

	#address-cells = <1>;
	#size-cells = <1>;
	erase-value = <0xff>;

	flash0: flash@0 {
		status = "okay";
		compatible = "soc-nv-flash";
		erase-block-size = <4096>;
		write-block-size = <1>;
		reg = <0x00000000 DT_SIZE_M(129)>; // builtin stuff + external flash simulation

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			boot_partition: partition@0 {
				label = "mcuboot";
				reg = <0x00000000 0x0000C000>;
			};
			slot0_partition: partition@c000 {
				label = "image-0";
				reg = <0x0000C000 0x00069000>;
			};
			slot1_partition: partition@75000 {
				label = "image-1";
				reg = <0x00075000 0x00069000>;
			};
			scratch_partition: partition@de000 {
				label = "image-scratch";
				reg = <0x000de000 0x0001e000>;
			};


			fast_partition: fastpartition@100000 {
				label = "superfast-storage";
				reg = <0x100000 DT_SIZE_M(128)>;
			};
		};
	};
};
