# Copyright (c) 2025 Launch Initiative
# SPDX-License-Identifier: Apache-2.0

menuconfig AW9364
	bool "aw9364 led driver"
	default y
	depends on DT_HAS_AWINIC_AW9364_ENABLED
	select GPIO
	help
	  Enable driver for aw9364 led driver

