# Copyright (c) 2021 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

if SENSOR
rsource "adxl375/Kconfig"
rsource "ms56xx/Kconfig"
rsource "ina260/Kconfig"
rsource "openrocket/Kconfig"
rsource "simshunt/Kconfig"
endif # SENSOR
