/*
 * Copyright (c) 2021 Nordic Semiconductor ASA
 * SPDX-License-Identifier: Apache-2.0
 */

/* This devicetree overlay file will be automatically picked by the Zephyr
 * build system when building the sample for the nucleo_f302r8 board. It shows
 * how the example-application can be built on sample boards already provided
 * by Zephyr.
 */

/ {
	examplesensor0: examplesensor_0 {
		compatible = "zephyr,examplesensor";
		input-gpios = <&gpioc 13 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
	};
};

&i2c1 {
  	pinctrl-0 = <&i2c1_scl_pb8 &i2c1_sda_pb9>;
    pinctrl-names = "default";
   	status = "okay";
   	clock-frequency = <I2C_BITRATE_FAST>;

    ti_tmp116: ti_tmp116@48 {
		compatible = "ti,tmp116";
		reg = <0x48>;
		#address-cells = <1>;
		#size-cells = <0>;

		eeprom: ti_tmp116_eeprom@0 {
			compatible = "ti,tmp116-eeprom";
			reg = <0x0>;
			read-only;
		};
	};


};

&gpioc {
	status = "okay";
};
