source "Kconfig.zephyr"

config STORAGE_THREAD_STACK_SIZE
    int "Stack size for storage size"
    default 512

config STORAGE_THREAD_PRIORITY
    int "Stack size for storage size"
    default 10

config HORUS_PAYLOAD_ID
    int "Payload ID number as given by horusdemodlib"
    default 808

module = APP_FREAK
module-str = APP_FREAK
source "subsys/logging/Kconfig.template.log_config"
