# SPDX-License-Identifier: Apache-2.0

CONFIG_SOC_SERIES_STM32F4X=y
CONFIG_SOC_STM32F446XX=y

# Enable MPU
CONFIG_ARM_MPU=y

# Enable HW stack protection
CONFIG_HW_STACK_PROTECTION=y

CONFIG_SERIAL=y

# console
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y
CONFIG_CBPRINTF_FP_SUPPORT=y

# enable GPIO
CONFIG_GPIO=y

# Enable Clocks
CONFIG_CLOCK_CONTROL=y

# enable pin controller
CONFIG_PINCTRL=y
CONFIG_LED=y

# I2C
CONFIG_I2C=y
CONFIG_I2C_CALLBACK=y
CONFIG_I2C_RTIO=y

# SPI
CONFIG_SPI=y
CONFIG_SPI_RTIO=y


# GNSS (MAX-M10S)
CONFIG_GNSS=y
CONFIG_GNSS_SATELLITES=y
CONFIG_GNSS_NMEA0183=y
CONFIG_UBXLIB=y

# LORA
CONFIG_LORA=y

CONFIG_HAS_SEMTECH_LORAMAC=y

# Networking
CONFIG_NET_L2_ETHERNET=y
CONFIG_NETWORKING=y
CONFIG_NET_L2_ETHERNET_MGMT=y
CONFIG_NET_IPV4=y
CONFIG_NET_STATISTICS=y
CONFIG_SHELL=y
CONFIG_PTP_CLOCK=y


# Non-Volatile Memory
CONFIG_FLASH=y

