# Copyright (c) 2024 Launch Initiative
# SPDX-License-Identifier: Apache-2.0

menu "Zephyr"
source "Kconfig.zephyr"
endmenu

module = APP_POTATO
module-str = APP_POTATO
source "subsys/logging/Kconfig.template.log_config"
