/*
 * Copyright (c) 2024 Espressif Systems (Shanghai) Co., Ltd.
 *
 * SPDX-License-Identifier: Apache-2.0
 */
/dts-v1/;

#include <espressif/esp32s3/esp32s3_wroom_n16r8.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <zephyr/dt-bindings/input/esp32-touch-sensor-input.h>
#include <espressif/partitions_0x0_amp.dtsi>
#include "tdeck-pinctrl.dtsi"

/ {
	model = "Espressif ESP32S3-DevkitC PROCPU";
	compatible = "espressif,esp32s3";

	aliases {
		i2c-0 = &i2c0;
		watchdog0 = &wdt0;
		stuffenable = &stuffenable;
	};

	chosen {
		zephyr,sram = &sram1;
		zephyr,console = &usb_serial;
		zephyr,shell-uart = &usb_serial;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
		zephyr,bt-hci = &esp32_bt_hci;
		zephyr,display = &st7789v;
		zephyr,touch = &gt911;
	};

	aliases {
		uart-0 = &uart0;
		sw0 = &button0;
	};




	leds {
		compatible = "gpio-leds";
		stuffenable: stuffenable0 {
			gpios = <&gpio0 10 (GPIO_ACTIVE_HIGH)>; // IO10
			label = "Stuff enable GPIO";
		};
	};
	backlight: backlight{
		compatible = "awinic,aw9364";
		status = "okay";
		one-wire-gpios = <&gpio1 10 GPIO_ACTIVE_HIGH>;
		initial-brightness = <15>;
	};


	buttons {
		compatible = "gpio-keys";
		button0: button_0 {
			gpios = <&gpio0 0 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "BOOT Button";
			zephyr,code = <INPUT_KEY_0>;
		};

		button_left: button_left {
			gpios = <&gpio0 1 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Left Button";
			zephyr,code = <INPUT_KEY_0>;
		};
		button_right: button_right {
			gpios = <&gpio0 15 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Right Button";
			zephyr,code = <INPUT_KEY_0>;
		};

		button_up: button_up {
			gpios = <&gpio0 2 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Up Button";
			zephyr,code = <INPUT_KEY_0>;
		};
		button_down: button_down {
			gpios = <&gpio0 3 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Right Button";
			zephyr,code = <INPUT_KEY_0>;
		};
	};

	lvgl_pointer:lvgl_pointer {
		// DT_HAS_ZEPHYR_LVGL_POINTER_INPUT_ENABLED
		compatible = "zephyr,lvgl-pointer-input";
		status="okay";
		input = <&gt911>;
		// flip x, y here
		swap-xy;
		//invert-x;
		invert-y;
	};


	// Display
	mipi{
		compatible = "zephyr,mipi-dbi-spi";

			spi-dev = <&spi3>;
			dc-gpios = <&gpio0 11 GPIO_ACTIVE_HIGH>;
			write-only;
			#address-cells = <1>;
			#size-cells = <0>;


			st7789v: st7789v@0 {
				// LOOK AT OTHER HALF OF IFDEF IN ST7789_Init.h
				compatible = "sitronix,st7789v";
				reg = <0>;
				mipi-mode = "MIPI_DBI_MODE_SPI_4WIRE";
				mipi-max-frequency = <20000000>;

				vcom = <0x1A>;
				gctrl = <0x75>;
				vrhs = <0x13>;
				vdvs = <0x20>;
				
				/* Landscape */
				width = <320>;
				height = <240>;

				x-offset = <0>;
				y-offset = <0>;
				mdac = <0x60>; 
				colmod = <0x05>; // c

				gamma = <0x01>; // default
				lcm = <0x2C>; // c
				porch-param = [0C 0C 00 33 33]; // c
				cmd2en-param = [5A 69 02 00]; // default from datasheet. not set by tft?
				pwctrl1-param = [A4 A1]; // c
				pvgam-param = [D0 0D 14 0D 0D 09 38 44 4E 3A 17 18 2F 30]; // c
				nvgam-param = [D0 09 0F 08 07 14 37 44 4D 38 15 16 2C 3E]; // c
				
				ram-param = [00 E0]; 
				rgb-param = [40 02 14]; //default from datasheet
		};
	};
};

&usb_serial {
	status = "okay";
};

&uart0 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart0_default>;
	pinctrl-names = "default";
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};


&i2c0 {
	clock-frequency = <I2C_BITRATE_STANDARD>;
	pinctrl-0 = <&i2c0_default>;
	pinctrl-names = "default";
	status = "okay";


	// GT911@5d
	// interrupt IO16
	// reset in hardware
	gt911: gt911@5d{
		status = "okay";
		compatible = "goodix,gt911";
		reg = <0x5d>;
		irq-gpios = <&gpio0 16 GPIO_ACTIVE_HIGH>;
	};

	// Keyboard

};

&i2c1 {
	clock-frequency = <I2C_BITRATE_STANDARD>;
	pinctrl-0 = <&i2c1_default>;
	pinctrl-names = "default";


};

&i2s0 {
	pinctrl-0 = <&i2s0_default>;
	pinctrl-names = "default";
	status = "disabled";
};

&i2s1 {
	pinctrl-0 = <&i2s1_default>;
	pinctrl-names = "default";
	status = "disabled";
};

&spi2 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	pinctrl-0 = <&spim2_default>;
	pinctrl-names = "default";
};




&spi3 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	pinctrl-0 = <&spim3_default>;
	pinctrl-names = "default";
	status = "okay";

	// LCD CS, LORA CS
	cs-gpios = <&gpio0 12 GPIO_ACTIVE_LOW>, <&gpio0 9 GPIO_ACTIVE_LOW>;
};

&twai {
	pinctrl-0 = <&twai_default>;
	pinctrl-names = "default";
};

&timer0 {
	status = "disabled";
};

&timer1 {
	status = "disabled";
};

&timer2 {
	status = "disabled";
};

&timer3 {
	status = "disabled";
};

&wdt0 {
	status = "okay";
};

&trng0 {
	status = "okay";
};

&esp32_bt_hci {
	status = "okay";
};
