name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'
  schedule:
    - cron: "0 0 * * 1"

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        app:
          - app/backplane/app_power_module
          - app/backplane/app_radio_module
          - app/backplane/app_sensor_module

    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          path: FSW

      - name: Cache Python dependencies
        uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: python-${{ runner.os }}-${{ hashFiles('**/*.lock') }}
          restore-keys: |
            python-${{ runner.os }}-

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Cache Zephyr dependencies
        uses: actions/cache@v2
        with:
          path: |
            ~/.cache/west
            ~/.cache/zephyr
          key: zephyr-${{ runner.os }}-${{ hashFiles('**/*.txt') }}
          restore-keys: |
            zephyr-${{ runner.os }}-

      - name: Setup Zephyr project
        uses: zephyrproject-rtos/action-zephyr-setup@v1
        with:
          app-path: FSW
          toolchains: arm-zephyr-eabi

      - name: Build firmware
        working-directory: FSW
        shell: bash
        run: |
          if [ "${{ runner.os }}" = "Windows" ]; then
            EXTRA_TWISTER_FLAGS="--short-build-path -O/tmp/twister-out"
          fi
          west twister -T ${{ matrix.app }} -v --inline-logs --integration $EXTRA_TWISTER_FLAGS

#      - name: Twister Tests
#        working-directory: ${{ matrix.app }}
#        shell: bash
#        run: |
#          if [ "${{ runner.os }}" = "Windows" ]; then
#            EXTRA_TWISTER_FLAGS="--short-build-path -O/tmp/twister-out"
#          fi
#          west twister -T tests -v --inline-logs --integration $EXTRA_TWISTER_FLAGS
